// Colors
$white-color-100: #fff;
$white-color-200: #f1f1f1;
$black-color-800: #292929;
$black-color-900: #000;
$gold-color-400: #debc21;
$gold-color-500: #756213;
$blue-color-400: #5880f8;
$blue-color-500: #476bd4;

// Fonts
$font-mukta: 'Mukta', sans-serif;
$font-wind-song: 'WindSong', cursive;
$font-fredricka: 'Fredericka the Great', cursive;

// Font-size
$font-size-base: 16px;

// Breakpoints
$grid-breakpoints: (
    xs: 0,
    sm: 576px,
    md: 768px,
    lg: 992px,
    xl: 1200px,
    xxl: 1400px
);

$container-max-widths: (
    sm: 540px,
    md: 720px,
    lg: 960px,
    xl: 1140px,
    xxl: 1400px,
);